:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-around;
    background: rgb(221, 160, 221, 0.75);
    box-shadow: 0px 5px 10px 0px rgba(173, 0, 135, 0.25);
    padding: 15px;
    max-height: 20px;
    color: black;
}

.grid-option {
    box-shadow: 0px 5px 10px 0px rgba(173, 0, 135, 0.25);

}

ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#container {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    max-height: 960px;
}

.grid-item {
    padding: 0px;
    margin: 0px;
    text-align: center; 
}


.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 160, 221, 0.5);
    max-height: 35px;
    gap: 8px;
}

